.box
{
    border: 0px;
    padding: 0px;
}
.logo
{
    display: block;
    margin: 0px auto;
}
.header
{
    background-color:rgb(94, 97, 116);
}
.menu
{
    margin-top:2px;
}
.menu ul{
    text-align:center;
}
.menu ul li{
    display:inline-block;
    margin-right:5px;
}

